@model DataPilli.Models.ISAEvent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ISAEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eventDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eventDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eventDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eventDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eventLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eventLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eventType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eventType)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.eventID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>

