@model IEnumerable<DataPilli.Models.ISAEvent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventType)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventType)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.eventID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.eventID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.eventID">Delete</a>
        </td>
    </tr>
}
</table>
